.xUi-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: transparent;
    border-radius: var(--xui-border-radius-sm);
}

.xUi-input-container:has(.xUi-input):hover,
.xUi-input-container:has(.xUi-input:focus) {
    border: 1px solid var(--v3-primary-6);
}

.xUi-input-container.xUi-input-error {
    border-color: var(--xui-error-color);
}

.xUi-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: -webkit-fill-available;
    flex-grow: 1;
    margin: -1px;
    transition: border 0.3s;
    background-color: transparent;
}

.xUi-input {
    flex: 1;
    padding: 0;
    border: none;
    outline: none;
    padding: 0 7px;
    color: var(--xui-text-color);
    height: -webkit-fill-available;
    background-color: transparent;
}

.xUi-input::placeholder {
    opacity: 0.6;
    color: var(--xui-text-color);
}

.xUi-input-suffix,
.xUi-input-prefix {
    display: flex;
    padding: 0 7px;
    align-items: center;
    color: var(--xui-text-color);
    height: -webkit-fill-available;
    background-color: transparent;
}

.xUi-input-addon {
    padding: 0 7px;
    display: flex;
    align-items: center;
    color: var(--xui-text-color);
    height: -webkit-fill-available;
}

.xUi-input-addon.xUi-input-after {
    border-left: 1px solid var(--xui-border-color);
}

.xUi-input-addon.xUi-input-before {
    border-right: 1px solid var(--xui-border-color);
}

.xUi-input-large .xUi-input-addon {
    padding: 0 10px;
}

.xUi-input-clear {
    cursor: pointer;
    position: absolute;
    right: 7px;
    color: var(--xui-text-color);
}

.xUi-input-disabled {
    background-color: var(--xui-color-disabled);
    cursor: not-allowed;
}

.xUi-input-small {
    height: 22px;
}

.xUi-input-large .xUi-input-clear,
.xUi-input-small .xUi-input,
.xUi-input-small .xUi-input::placeholder {
    font-size: var(--xui-font-size-md);
}

.xUi-input-middle {
    height: 30px;
    border-radius: var(--xui-border-radius-md);
}

.xUi-input-large .xUi-input-clear,
.xUi-input-middle .xUi-input,
.xUi-input-middle .xUi-input::placeholder {
    font-size: var(--xui-font-size-md);
}

.xUi-input-large {
    height: 40px;
    border-radius: var(--xui-border-radius-lg);
}

.xUi-input-large .xUi-input-clear,
.xUi-input-large .xUi-input,
.xUi-input-large .xUi-input::placeholder {
    font-size: var(--xui-font-size-lg);
}
