.xUi-select.large .xUi-select-tag {
    font-size: 16px;
}

.xUi-select .xUi-select-tag-container {
    gap: 4px;
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    line-height: 12px;
    position: relative;
    max-width: calc(100% - 26px);
}

.xUi-select .xUi-select-tag {
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid transparent;
    align-items: center;
    align-self: center;
    flex: none;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: 4px;
    cursor: default;
    padding: 0px 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    height: -webkit-fill-available;
    transition:
        font-size 0.3s,
        line-height 0.3s,
        height 0.3s;
}

.xUi-select.middle .xUi-select-tag {
    padding: 4px 8px;
}

.xUi-select.large .xUi-select-tag {
    padding: 6px 8px;
}

.xUi-select .xUi-select-tag span {
    margin: 0 2px;
    font-size: 13px;
}

.xUi-select .xUi-select-tag .xUi-select-tag-close-icon {
    cursor: pointer;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.xUi-select .xUi-select-tag .xUi-select-tag-close-icon:hover {
    color: #333;
}

.xUi-select .xUi-select-tag:has([class="xUi-select-tag-input"]) {
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
    color: #333;
    font-size: 14px;
    background: white;
}

.xUi-select .xUi-select-tag:has([class="xUi-select-tag-input"]) input {
   border: none;
}

.xUi-select .xUi-select-tag-input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}