.xUi__formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
}

.xUi__inputLabel {
    font-weight: 500;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.xUi__error {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
    position: absolute;
    bottom: -18px;
    right: 0;
}

.xUi__required {
    color: #ff4d4f;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    margin-left: 4px;
    margin-right: 4px;
}