.xUi-select .xUi-select-option.xUi-select-focused {
    background-color: #e6f7ff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.xUi-select .xUi-select-option.xUi-select-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.xUi-select .xUi-select-option.selected {
    background-color: #1890ff;
    color: #fff;
}

.xUi-select .xUi-select-option.selected:hover {
    background-color: #40a9ff;
}
