@keyframes xUi-skeleton-loading {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.xUi-skeleton-avatar {
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    background-size: 400% 100%;
    animation: xUi-skeleton-loading 1.4s ease infinite;
}

.xUi-skeleton-avatar-circle {
    border-radius: 50%;
}

.xUi-skeleton-avatar-square {
    border-radius: 4px;
}