@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.xUi-select {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    color: #333;
    min-height: 24px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    padding: 2px 4px;
}

.xUi-select-arrow {
    margin: 0 4px;
    color: rgba(0, 0, 0, 0.25);
}

.xUi-select-arrow svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xUi-select-loading {
    margin: 0 8px;
    animation: spin 1s linear infinite;
    display: inline-block;
    color: rgba(0, 0, 0, 0.25);
}

.xUi-select .xUi-select-trigger {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    padding: 2px;
}

.xUi-select .xUi-select-clear-btn {
    margin: 0 8px;
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.xUi-select .xUi-select-clear-btn {
    font-size: 16px;
}

.xUi-select .xUi-select-clear-btn:hover {
    color: #333;
}

/* Dropdown styles */
.xUi-select .xUi-select-dropdown {
    position: absolute;
    min-width: max-content;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
}

.xUi-select .xUi-select-loading-spinner {
    padding: 10px;
    text-align: center;
    color: #999;
}

.xUi-select:focus-within {
    border-color: #40a9ff;
    box-shadow: none;
}

.xUi-select:hover {
    border-color: #40a9ff;
}

.xUi-select-disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.xUi-select-selected-icon {
    color: #40a9ff;
}

.xUi-select-error {
    border-color: red;
}

.xUi-select .xUi-select-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    user-select: none;
    cursor: pointer;
    height: -webkit-fill-available;
}

.xUi-select .xUi-select-input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.xUi-select.middle {
    font-size: 14px;
    min-height: 30px;
    border-radius: 6px;
}

.xUi-select.middle input {
    font-size: 14px;
}

.xUi-select.middle .xUi-select-trigger {
    border-radius: 6px;
}

.xUi-select.large {
    font-size: 16px;
    min-height: 38px;
    border-radius: 8px;
}

.xUi-select.large .xUi-select-trigger {
    border-radius: 8px;
}

.xUi-select.large input {
    font-size: 16px;
}