.xUi-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 6px;
    line-height: 1.5715;
}

.xUi-button-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.xUi-button-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin-right: 0.5em;
}

.xUi-button-icon:last-child {
    margin-right: 0;
    margin-left: 0.5em;
}

.xUi-button-spinner {
    width: 1em;
    height: 1em;
    border: 1px solid transparent;
    border-top-color: var(--xui-text-color);
    border-radius: 50%;
    animation: xUi-spin 1s linear infinite;
}

@keyframes xUi-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Sizes */
.xUi-button-size-small {
    padding: 4px 12px;
    font-size: 12px;
    height: 24px;
}

.xUi-button-size-middle {
    padding: 6px 16px;
    font-size: 14px;
    height: 32px;
}

.xUi-button-size-large {
    padding: 8px 20px;
    font-size: 16px;
    height: 40px;
}

/* Shapes */
.xUi-button-circle {
    padding: 0;
    border-radius: 50%;
    justify-content: center;
}

.xUi-button-circle.xUi-button-size-small {
    width: 24px;
    height: 24px;
}

.xUi-button-circle.xUi-button-size-large {
    width: 40px;
    height: 40px;
}

.xUi-button-round {
    border-radius: 9999px;
}

/* Types */
.xUi-button-default {
    background-color: #fff;
    border-color: var(--xui-border-color);
    color: rgba(0, 0, 0, 0.85);
}

.xUi-button-default:hover {
    border-color: var(--xui-primary-color);
    color: var(--xui-primary-color);
}

.xUi-button-primary {
    background-color: var(--xui-primary-color);
    border-color: var(--xui-primary-color);
    color: #fff;
}

.xUi-button-primary:hover {
    background-color: var(--xui-primary-color-light);
    border-color: var(--xui-primary-color-light);
    color: #fff;
}

.xUi-button-dashed {
    border-style: dashed;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    border-color: var(--xui-border-color);
}

.xUi-button-dashed:hover {
    border-color: var(--xui-primary-color);
    color: var(--xui-primary-color);
}

.xUi-button-text {
    background-color: transparent;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.88);
}

.xUi-button-text:hover {
    color: rgba(0, 0, 0, 0.88);
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.04);
}

.xUi-button-link {
    background-color: transparent;
    border-color: transparent;
    color: var(--xui-primary-color);
}

.xUi-button-link:hover {
    border-color: transparent;
    color: var(--xui-primary-color-light);
}

/* Variants */
.xUi-button-outlined {
    background-color: transparent;
    border-color: var(--xui-border-color);
    color: #fff;
}

.xUi-button-filled {
    background-color: transparent;
    color: var(--xui-text-color);
    border-color: var(--xui-border-color);
}

.xUi-button-danger {
    background-color: transparent;
    border-color: var(--xui-error-color);
    color: var(--xui-error-color);
}

.xUi-button-danger:hover {
    color: var(--xui-error-color-light);
    border-color: var(--xui-error-color-light);
}

.xUi-button-ghost {
    opacity: 0;
}

.xUi-button-ghost:hover {
    opacity: 1;
}

/* Block */
.xUi-button-block {
    display: flex;
    width: 100%;
}

/* Disabled and Loading */
.xUi-button-disabled,
.xUi-button-loading {
    cursor: not-allowed;
    opacity: 0.5;
    border-color: var(--xui-border-color);
    background-color: var(--xui-color-disabled);
    pointer-events: none;
}

.xUi-button-loading {
    background-color: transparent
}