.xUi-datepicker-container {
    position: relative;
    /* width: 100%; */
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.xUi-datepicker-input {
    /* width: 100%; */
    gap: 8px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--xui-border-color);
    border-radius: 4px;
    background-color: transparent;
    color: var(--xui-text-color);
    cursor: pointer;
    transition: all 0.3s;
}

.xUi-datepicker-input:hover {
    border-color: var(--xui-primary-color);
}

.xUi-datepicker-selected-date {
    font-size: var(--xui-font-size-md);
    color: var(--xui-text-color);
}

.xUi-datepicker-placeholder {
    font-size: var(--xui-font-size-md);
    opacity: 0.6;
    color: var(--xui-text-color);
}

.xUi-datepicker-disabled {
    background-color: var(--xui-background-color);
    cursor: not-allowed;
    opacity: 0.6;
}

.xUi-datepicker-icon {
    font-size: 16px;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    gap: 6px;
}

.xUi-datepicker-error {
    border-color: var(--xui-error-color);
}

.xUi-datepicker-error .xUi-datepicker-icon,
.xUi-datepicker-icon .error-svg-icon,
.xUi-datepicker-error .error-svg-icon {
    color: var(--xui-error-color);
}

.xUi-datepicker-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1000;
    padding: 12px;
    background: var(--xui-background-color);
    border: 1px solid var(--xui-border-color);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.xUi-datepicker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--xui-border-color);
}

.xUi-datepicker-nav-buttons {
    display: flex;
    gap: 4px;
}

.xUi-datepicker-nav-buttons button {
    padding: 2px 6px;
    border: none;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 20px;
    opacity: 0.7;
    color: var(--xui-text-color);
}

.xUi-datepicker-nav-buttons button:hover {
    color: var(--xui-primary-color);
}

.xUi-datepicker-dropdown-selects {
    display: flex;
    gap: 6px;
    align-items: center;
}

.xUi-datepicker-select,
.xUi-datepicker-dropdown-selects button {
    padding: 4px 8px;
    border: 1px solid var(--xui-border-color);
    border-radius: 4px;
    background: var(--xui-background-color);
    color: var(--xui-text-color);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
}

.xUi-datepicker-select:hover,
.xUi-datepicker-dropdown-selects button:hover {
    color: var(--xui-primary-color);
}

.xUi-datepicker-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    text-align: center;
}

.xUi-datepicker-grid.day {
    grid-template-columns: repeat(7, 1fr);
}

.xUi-datepicker-day-header {
    font-size: 14px;
    user-select: none;
    margin: 4px 0;
    color: var(--xui-text-color);
}

.xUi-datepicker-day {
    height: 36px;
    min-width: 36px;
    line-height: 36px;
    border-radius: 4px;
    background: none;
    border: none;
    color: var(--xui-text-color);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.xUi-datepicker-day:hover {
    background: var(--xui-primary-color-light);
    color: #fff;
}

.xUi-datepicker-selected {
    background: var(--xui-primary-color) !important;
    color: #fff !important;
    font-weight: bold;
}

.xUi-datepicker-empty {
    height: 36px;
}

.xUi-datepicker-other-month {
    opacity: 0.4;
    color: var(--xui-text-color);
}

.xUi-datepicker-other-month:hover {
    color: var(--xui-text-color);
    background-color: var(--xui-color-hover);
}
