.xUi-select-options {
    list-style: none;
    margin: 0;
    padding: 4px;
    border-radius: var(--xui-border-radius-sm);
}

.xUi-select-option {
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: var(--xui-border-radius-sm);
    font-size: var(--xui-font-size-md);
    color: var(--xui-text-color);
}

.xUi-select-option:hover {
    color: var(--xui-background-color);
    background-color: var(--xui-primary-color);
}

.xUi-select-option.xUi-select-focused {
    background-color: var(--xui-primary-color);
    color: var(--xui-background-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.xUi-select-option.xUi-select-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.xUi-select-option.selected {
    background-color: var(--xui-primary-color);
    color: var(--xui-background-color);
}

.xUi-select-option.selected:hover {
    background-color: var(--xui-primary-color-light);
}
