.xUi-select .xUi-select-tag-container {
    gap: 4px;
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    line-height: 12px;
    position: relative;
    height: -webkit-fill-available;
    max-width: calc(100% - 26px);
}

.xUi-select .xUi-select-tag {
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid transparent;
    align-items: center;
    align-self: center;
    flex: none;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: var(--xui-border-radius-sm);
    cursor: default;
    padding: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    height: 100%;
    transition:
        font-size 0.3s,
        line-height 0.3s,
        height 0.3s;
}

.xUi-select.middle .xUi-select-tag {
    padding: 4px 8px;
}

.xUi-select.large .xUi-select-tag {
    padding: 8px;
    font-size: var(--xui-font-size-lg);
}

.xUi-select .xUi-select-tag span {
    margin: 0 2px;
    font-size: var(--xui-font-size-sm);
}

.xUi-select .xUi-select-tag .xUi-select-tag-close-icon {
    cursor: pointer;
    font-size: var(--xui-font-size-xs);
    color: rgba(0, 0, 0, 0.5);
}

.xUi-select .xUi-select-tag .xUi-select-tag-close-icon:hover {
    color: var(--xui-text-color);
}

.xUi-select .xUi-select-tag:has([class="xUi-select-tag-input"]) {
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
    color: var(--xui-text-color);
    font-size: var(--xui-font-size-md);
    background: transparent;
}

.xUi-select .xUi-select-tag:has([class="xUi-select-tag-input"]) input {
    padding: 0;
    width: 100%;
    border: none;
    height: -webkit-fill-available;
    background-color: transparent;
}

.xUi-select .xUi-select-tag-input:focus {
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: var(--xui-font-size-md);
}
