.xUi-form-item {
    display: flex;
    margin-bottom: 22px;
    position: relative;
}

.xUi-form-item-label {
    font-weight: 500;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: var(--font-size-md);
    color: var(--text-color);
}

.xUi-form-item-error {
    right: 0;
    bottom: -18px;
    font-size: var(--font-size-xs);
    margin-top: 4px;
    position: absolute;
    color: var(--error-text-color);
    user-select: none;
}

.xUi-form-item-required {
    line-height: 1;
    font-size: var(--font-size-md);
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
    color: var(--error-text-color);
}

.xUi-form-item.horizontal {
    gap: 4px;
    flex-direction: row;
}

.xUi-form-item.vertical {
    flex-direction: column;
}

.xUi-form-item.vertical,
.xUi-form-item .xUi-input-container,
.xUi-form-item .xUi-select {
    width: -webkit-fill-available;
}