@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.xUi-select {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    color: var(--xui-text-color);
    min-height: 24px;
    background-color: transparent;
    border-radius: var(--xui-border-radius-sm);
    border: 1px solid var(--xui-border-color);
    box-sizing: border-box;
    padding: 2px 8px;
    margin-bottom: 15px;
}

.xUi-select-disabled {
    background: rgba(0, 0, 0, 0.04);
}

.xUi-select-arrow {
    margin: 0 4px;
    color: var(--xui-text-color-light);
}

.xUi-select-arrow svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xUi-select-loading {
    margin: 0 8px;
    animation: spin 1s linear infinite;
    display: inline-block;
    color: var(--xui-text-color-light);
}

.xUi-select .xUi-select-trigger {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    border-radius: var(--xui-border-radius-sm);
    background: transparent;
}

.xUi-select .xUi-select-clear-btn {
    margin: 0 8px;
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.xUi-select .xUi-select-clear-btn {
    font-size: var(--xui-font-size-lg);
}

.xUi-select .xUi-select-clear-btn:hover {
    color: var(--xui-primary-color);
}

.xUi-select-dropdown {
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 5px;
    overflow-y: auto;
    max-height: 200px;
    position: absolute;
    min-width: max-content;
    border-radius: var(--xui-border-radius-sm);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: var(--xui-select-background-color);
}

.xUi-select .xUi-select-loading-spinner {
    padding: 10px;
    text-align: center;
    color: #999;
}

.xUi-select:focus-within {
    border-color: var(--xui-primary-color-light);
    box-shadow: none;
}

.xUi-select:hover:not(.xUi-select-disabled) {
    border-color: var(--xui-primary-color);
}

.xUi-select-disabled .xUi-select-input,
.xUi-select-disabled .xUi-select-trigger,
.xUi-select-disabled {
    cursor: not-allowed !important;
    opacity: 0.6 !important;
}

.xUi-select-selected-icon {
    color: var(--xui-primary-color-light);
}

.xUi-select-error {
    border-color: var(--xui-error-color);
}

.xUi-select .xUi-select-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: var(--xui-font-size-md);
    color: var(--xui-text-color);
    user-select: none;
    cursor: pointer;
    height: -webkit-fill-available;
    display: inline-flex;
    align-items: center;
}

.xUi-select .xUi-select-input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.xUi-select.middle {
    font-size: var(--xui-font-size-md);
    min-height: 30px;
    border-radius: var(--xui-border-radius-md);
}

.xUi-select.middle input {
    font-size: var(--xui-font-size-md);
}

.xUi-select.middle .xUi-select-trigger {
    border-radius: var(--xui-border-radius-md);
}

.xUi-select.large {
    font-size: var(--xui-font-size-lg);
    min-height: 40px;
    border-radius: var(--xui-border-radius-lg);
}

.xUi-select.large .xUi-select-trigger {
    border-radius: var(--xui-border-radius-lg);
}

.xUi-select input {
    font-size: var(--xui-font-size-lg);
}
